[Unit]
Description=Gunicorn instance to serve main flask app
After=network.target

[Service]
User=flask
Group=flask
WorkingDirectory=/srv/web-server
Environment="PATH=/srv/web-server/venv/bin"
Environment="POSTGRES_LOGIN=login"
Environment="POSTGRES_PASSWORD=password"
Environment="POSTGRES_ADDRESS=127.0.0.1"
Environment="POSTGERS_PORT=5432"
Environment="POSTGRES_DATABASE=database"
Environment="SECRET_KEY=secret_CSRF"
Environment="HOST_FOR_SSH_CONNECT=sub.example.loc"
Environment="SERVICE_USER=service_user"
ExecStart=/srv/web-server/venv/bin/gunicorn --chdir /srv/web-server/app --error-logfile /var/log/yaica/web-error.log --access-logfile /var/log/yaica/web-access.log  --bind 127.1:8082  main:app
ExecStop=/bin/kill -9 $MAINPID

[Install]
WantedBy=multi-user.target

