[Unit]
Description=Api client, make ssh tunnel 2 remote server
After=network.target

[Service]
WorkingDirectory=/srv/api-client/app
Environment="PATH=/srv/api-client/venv/bin"
Environment="API_HOST=0.0.0.0"
Environment="API_PORT=0.0.0.0"
Environment="API_TOKEN=0.0.0.0"
Environment="PATH_SSH_KEY=/root/private/key"
Environment="SERVICE_USER=service_user"
Environment="REMOTE_HOST=www.acme.com"
Environment="API_TOKEN=0.0.0.0"
ExecStart=/srv/api-client/venv/bin/python3 main.py
ExecStop=/bin/kill -9 $MAINPID

[Install]
WantedBy=multi-user.target
