[Unit]
Description=Api client, make ssh tunnel to remote server
After=network.target

[Service]
WorkingDirectory=/srv/api-client/app
Environment="PATH=/srv/api-client/venv/bin:/bin"
Environment="API_HOST=0.0.0.0"
Environment="API_PORT=443"
Environment="API_PROTO=https"
Environment="API_TOKEN=12345"
Environment="PATH_SSH_KEY=/root/private/key"
Environment="SERVICE_USER=service_user"
Environment="HOST_FOR_SSH_CONNECT=www.acme.com"
ExecStart=/srv/api-client/venv/bin/python3 main.py
ExecStop=/bin/kill -9 $MAINPID

[Install]
WantedBy=multi-user.target
