[Unit]
Description=Api server on flask
After=network.target

[Service]
User=api-service
Group=api-service
WorkingDirectory=/srv/flask_app/api-service
Environment="PATH=/srv/flask_app/api-service/venv/bin"
Environment="POSTGRES_LOGIN=login"
Environment="POSTGRES_PASSWORD=password"
Environment="POSTGRES_ADDRESS=127.0.0.1"
Environment="POSTGERS_PORT=5432"
Environment="POSTGRES_DATABASE=database"
ExecStart=/srv/flask_app/api-service/venv/bin/gunicorn --chdir /srv/flask_app/api-service/app --error-logfile /var/log/yaica/api-error.log --access-logfile /var/log/yaica/api-access.log  --bind 127.1:9999  main:app

[Install]
WantedBy=multi-user.target