[Unit]
Description=Api client, make ssh tunnel to remote server
After=network.target

[Service]
WorkingDirectory=/srv/api-client/app
Environment="PATH=/srv/api-client/venv/bin:/bin"
Environment="API_HOST={{api_host}}"
Environment="API_PORT={{api_port}}"
Environment="API_TOKEN={{api_token}}"
Environment="PATH_SSH_KEY={{ssh_key_path}}"
Environment="SERVICE_USER={{service_user}}"
Environment="HOST_FOR_SSH_CONNECT={{host_for_ssh_connect}}"
Environment="REVERSE_PROXY_PATH={{reverse_proxy_path}}"
ExecStart=/srv/api-client/venv/bin/python3 main.py
ExecStop=/bin/kill -9 $MAINPID

[Install]
WantedBy=multi-user.target
