{% extends 'base.html' %}

{% block title %}

Hello unknown

{% endblock %}

{% block pageindex %}

{% for host in hosts_status %}
<div class="container">
  <ul class="list-group">
    <li class="list-group-item list-group-item-{{host.status}}">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            - {{ host.hostname }}
          </div>
          <div class="col-sm">
            <p hidden id='{{ host.index }}'>ssh -N -L {{ host.ssh_port }}:127.1:{{ host.ssh_port }} -L {{ host.db_port }}:127.1:{{ host.db_port }} -L {{ host.vnc_port }}:127.1:{{ host.vnc_port }} service_user@monit.tru.io -i $SKEY_PATH</p>
            <button onclick="copyToClipboard('{{ host.index }}')" type="button" 
              data-toggle="popover" data-placement="right" data-content="ssh -N -L {{ host.ssh_port }}:127.1:{{ host.ssh_port }} -L
              {{ host.db_port }}:127.1:{{ host.db_port }} -L {{ host.vnc_port }}:127.1:{{ host.vnc_port }}
              {{ host.remote_user }}@{{ host.remote_host }} -i $SKEY_PATH is COPIED!" class="btn thisispop btn-primary btn-sm badge-pill">Ssh
              command to clipboard</button>
          </div>
          <div class="col-sm">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
              data-target="#modalstatus{{ host.index }}">
              Port info
            </button>
          </div>
          <div class="col-sm">
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
              data-target="#rmv{{ host.index }}">Remove</button>
          </div>
        </div>
      </div>
    </li>
</div>
<div>



  <!-- Modal -->
  <div class="modal fade" id="modalstatus{{ host.index }}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Port status for {{ host.hostname }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md">SSH port:</div>
              <div class="col-md">{{host.ssh_port}}</div>
            </div>
            <div class="row">
              <div class="col-md">MYSQL port:</div>
              <div class="col-md">{{host.db_port}}</div>
            </div>
            <div class="row">
              <div class="col-md">VNC port:</div>
              <div class="col-md">{{host.vnc_port}}</div>
            </div>
            <div class="row">
              <div class="col-md">Last api connect:</div>
              <div class="col-md">{{host.time_check}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="modal fade" id="rmv{{ host.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure remove <b>{{host.hostname}}</b>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="/delete/{{ host.index }}" method="POST">
          <button type="submit" id="hello-there" class="btn btn-danger">Remove</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}