<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>
    {% block title %}

    {% endblock %}

  </title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <!-- <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> -->
  <script src="https://code.jquery.com/ui/1.9.1/jquery-ui.min.js"></script>
  <!-- <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
</head>
<script type="text/javascript">
  function copyToClipboard(elementId) {
    // Create a "hidden" input
    var aux = document.createElement("input");
    // Assign it the value of the specified element
    aux.setAttribute("value", document.getElementById(elementId).innerHTML);
    // Append it to the body
    document.body.appendChild(aux);
    // Highlight its content
    aux.select();
    // Copy the highlighted text
    document.execCommand("copy");
    // Remove it from the body
    document.body.removeChild(aux);
  }


  $('.mypophide').popover().click(function () {
    setTimeout(function () {
      $('.mypophide').popover('hide');
    }, 1000);
  });

//  $(function () {
//    $('[data-toggle="popover"]').popover()
//  })



  

</script>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-end">
    <button type="button" class="btn btn-danger btn-sm">Logout</button>
  </nav>
  {% block pageindex %}
  {% endblock %}
</body>

</html>