[Unit]
Description=Api server on flask
After=network.target

[Service]
User={{api_server_user}}
Group={{api_server_user}}
WorkingDirectory=/srv/api-server
Environment="POSTGRES_LOGIN={{database_login}}"
Environment="POSTGRES_PASSWORD={{database_password}}"
Environment="POSTGRES_ADDRESS={{database_addres}}"
Environment="POSTGERS_PORT={{database_port}}"
Environment="POSTGRES_DATABASE={{database_name}}"
Environment="SECRET_TOKEN={{api_token}}"
Environment="HOST_FOR_SSH_CONNECT={{bastion_host}}"
ExecStart=/srv/api-server/venv/bin/python3.6 /srv/api-server/venv/bin/gunicorn --chdir /srv/api-server/app --error-logfile {{api_log_path}}api-error.log --access-logfile {{api_log_path}}api-access.log  --bind 0.0.0.0:{{api_server_port}}  main:app
ExecStop=/bin/kill -9 $MAINPID

[Install]
WantedBy=multi-user.target
